apiVersion: v1
kind: ServiceAccount
metadata:
  name: postgres-backup-sa
  labels:
    app.kubernetes.io/name: postgres-backup
    app.kubernetes.io/component: backup
{{- if eq .Values.objectStorage.provider "aws" }}
  annotations:
    eks.amazonaws.com/role-arn: {{ required "aws.roleArn is required for AWS IRSA" .Values.aws.roleArn | quote }}
{{- else if eq .Values.objectStorage.provider "gcp" }}
  annotations:
    iam.gke.io/gcp-service-account: {{ required "gcp.serviceAccount is required for Workload Identity" .Values.gcp.serviceAccount | quote }}
{{- else if eq .Values.objectStorage.provider "azure" }}
  annotations:
    azure.workload.identity/client-id: {{ required "azure.clientId is required for Azure Workload Identity" .Values.azure.clientId | quote }}
{{- else }}
  {{- fail "Unsupported objectStorage.provider. Use aws | gcp | azure" }}
{{- end }}

