replicaCount: 1

nexus_image:
  repository: ghcr.io/ckgitrepouser/prod/nexus/nexus-app
  tag: latest
  pullPolicy: Always

nexus_service:
  port: 8081
  name: http

# Server compression configuration
server:
  compression:
    enabled: true
    mimeTypes: "application/json,application/xml,text/html,text/xml,text/plain,application/javascript,text/css"
    minResponseSize: "1024"

imagePullSecrets:
- name: ckn-ghcr-secret

# Node affinity configuration for n2d node type
nodeAffinity:
  enabled: false
  machineFamily: cloud.google.com/compute-class
  nodeType: cpu-heavy

tolerations:
- key: "CriticalAddonsOnly"
  operator: "Exists"

container:
  resources:
    limits:
      cpu: 1000m
      memory: 1Gi
    requests:
      cpu: 1000m
      memory: 1Gi

# Add pod labels so selector in ServiceMonitor matches the Pod

podLabels:

  app: ck-nexus-app

  job: ck-nexus-app

# Add service labels so Service selector matches and ServiceMonitor finds the Service

serviceLabels:

  app: ck-nexus-app

  job: ck-nexus-app

# Database configuration
database:
  url: "jdbc:postgresql://ck-postgres:5432/ckservicedb?currentSchema=public"
  username: "cknexus"
  password: "cknexus"

# Prometheus configuration
prometheus:
  baseUrl: "http://ck-prometheus:9090"
  timeout: 5

retrofit:
  readTimeout: 5
  writeTimeout: 5

servicemonitor:

  enabled: true
