# Production environment specific values
name: karma-lens
replicaCount: 1
# Image will be set via --set parameters
image:
  repository: "ghcr.io/ckgitrepouser/prod/karma-lens/karma-lens"
  tag: "latest"
  pullPolicy: Always
imagePullSecrets:
  - name: ckn-ghcr-secret
service:
  type: ClusterIP
  port: 8080
resources:
  requests:
    cpu: 100m
    memory: 128Mi
  limits:
    cpu: 500m
    memory: 256Mi
livenessProbe:
  httpGet:
    path: /
    port: http
  initialDelaySeconds: 10
  periodSeconds: 10
readinessProbe:
  httpGet:
    path: /
    port: http
  initialDelaySeconds: 5
  periodSeconds: 5
tolerations:
  - key: "CriticalAddonsOnly"
    operator: "Exists"
